{% load tagging_tags comments i18n %}

					<div class="inner-content last">
						<div style="margin-bottom: 5px">
						  <span><abbr class="published" title="{{ object.creation_date|date:"c" }}Z">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr></span>
							<h5>
<!--								<a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
									{{ object.title }}
								</a>
								-->
								{% autoescape off %}
{{ object.title }} test {% autoescape on %}

							</h5>
							<p>
							{{ object_content }}

							</p>
							{% for author in object.authors.all %}
							<span class="vcard author">
							  {{ author.first_name }} {{ author.last_name }}
							</span>{% if not forloop.last %}, {% endif %}
							{% endfor %}
						</div>
					</div>
 
