{% extends "skeleton.html" %}
{% with hide_news="True"%}
{% endwith %}
{% load i18n zinnia_tags %}

{% block meta-description %}{% endblock %}

{% block link %}
  {{ block.super }}
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
					<div class="one-fourth">
    					{% include 'ettevottest_leftmenu.html' with current="news" %}
					</div>
					<div class="inner-content last">

{% for object in object_list %}
test
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %} span-16 last">
  {% with object.html_content|truncatewords_html:100|safe as object_content %}
test  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>
<div class="horizontal-line"></div>
{% empty %}
  {% trans "No entries yet." %}
{% endfor %}
					</div>
{% endblock %}

{% block admin_tools %}
{% endblock %}

