{% load i18n %}
{% for object in entries %}
                                        <div class="inner-content last">
                                                <div style="margin-bottom: 5px; border-bottom: 1px dotted #e1e1e1;">
							<br/>
                                                  <span>{{ object.creation_date|date:"DATE_FORMAT" }}</span>
                                                        <h5>
                                                        
                                                        {% autoescape off %}
							        {{ object.title }}
                                                        {% endautoescape %}
                                                        </h5>
                                                        {% autoescape off %}
                                                        {{ object.html_content }}
                                                        {% endautoescape %}
                                                        <span class="vcard author">
                                                          {{ object.author.first_name }} {{ object.author.last_name }}
                                                        </span>
                                                </div>
                                        </div>

							<br/>
{% endfor %}

