{% load i18n %}
			<div class="one">
				<div id="headline_container">
					<div class="headline"> 
						<div class="headline_button"> 
							<p class="buttonwrapper"> 
							<a class="button huge round red-cherry" href="{% url views.contact %}" title="">{% trans "Võta ühendust!" %}</a>								
							</p> 
						</div> 
						<div class="headline_inner"> 
							<br/>
							<h4><span class="colored">C</span>ONSULTANT <span class="colored">H</span>ANDLER <span class="colored">B</span>ROKER</h4>
						</div> 
				
					</div> 
				</div> 

			</div>
