{% extends "skeleton.html" %}
{% load i18n %}
 
 
{% block content %}

{% include 'chb.html' %}
<div class="one-fourth">
	{% include 'tingimused_leftmenu.html' with current="clientinfo" %}
</div>
<div class="inner-content last">
<p style="margin-bottom: 30px"><strong>{% trans "Maaklerilepingu üldtingimused" %}</strong></p>
<p>
    {% trans "CHB Kindlustusmaakler OÜ tegeleb kindlustusmaaklerlusega vastavalt kindlustustegevuse seadusele ning on kantud kindlustusvahendajate nimekirja, millega saab tutvuda finantsinspektsiooni " %}
    <a href="http://www.fi.ee/?id=466&PHPSESSID=d929b50b9761295726cecbdbd6c7498c">{% trans " veebilehel" %}</a> {% trans " või finantsinspektsioonis aadressil Sakala 4, 15030 Tallinn." %}
</p>

<p>
    {%  trans "Lisatud maaklerilepingu üldtingimuste eesmärgiks on määrata kindlaks CHB Kindlustusmaakler OÜ ja tema klientide õigused ja kohustused kindlustuslepingute vahendamisel ja muude kindlustusmaakleri teenuste osutamisel." %}
</p>
<p>
<a target="undefined" href="{{ STATIC_URL}}docs/d4.doc">{% trans "Maaklerilepingu üldtingimused 28.02.2014" %}</a>
</p>

</div>
{% endblock %}	
