{% extends "skeleton.html" %}
{% load i18n %}
 
 
{% block content %} 	

<div class="one">	
	
<div class="one-half">

						<form action="kontakt" id="theform" name="theform" method="post">
    {% if form.errors %}
        <div class="simple-error">
            {% trans "Palun täida kõik väljad korrektselt." %}
        </div>
    {% endif %}							
							{% csrf_token %} 
							<legend>
							<fieldset>
						<div style="margin-top:20px;" class="headline_button">
							<p class="buttonwrapper">
							<a class="button huge round red-cherry" href="{% url views.contact %}" title="">{% trans "Võta ühendust!" %}</a>
							</p> 
						</div>
								<label{% if form.topic.errors %} style="color:red"{% endif%}>{% trans "Liik" %} <span class="required">*</span></label>
								<select name="topic" id="topic" value="" class="text requiredField subject">
									<option value="Soovin erakliendi pakkumist" {% ifequal form.topic.value 'Soovin erakliendi pakkumist'%} selected="selected" {% endifequal%}>{% trans "Soovin erakliendi pakkumist" %}</option>
									<option value="Soovin Ã¤rikliendi pakkumist" {% ifequal form.topic.value 'Soovin Ã¤rikliendi pakkumist'%} selected="selected" {% endifequal%}>{% trans "Soovin ärikliendi pakkumist" %}</option>
									<option value="Teatan kahjust" {% ifequal form.topic.value 'Teatan kahjust'%} selected="selected" {% endifequal%}>{% trans "Teatan kahjust" %}</option>
									<option value="Helistage tagasi 1 h jooksul!" {% ifequal form.topic.value 'Helistage tagasi 1 h jooksul!'%} selected="selected" {% endifequal%}>{% trans "Helistage tagasi 1 h jooksul!" %}</option>
									<option value="Muu" {% ifequal form.topic.value 'Muu'%} selected="selected" {% endifequal%}>{% trans "Muu" %}</option>
								</select>
							</fieldset>
							<fieldset>
								<label{% if form.name.errors %} style="color:red"{% endif%}>{% trans "Nimi / ettevõtte" %} <span class="required">*</span></label>
								<input type="text" name="name" id="Myname" value="{{ form.name.value }}" class="text requiredField"/>
							</fieldset>
							<fieldset>
								<label{% if form.email.errors %} style="color:red"{% endif%}>{% trans "Email" %} <span class="required">*</span></label>
								<input type="text" name="email" id="email" value="{{ form.email.value }}" class="text requiredField email"/>
							</fieldset>
							<fieldset>
								<label{% if form.phone.errors %} style="color:red"{% endif%}>{% trans "Telefon" %} <span class="required">*</span></label>
								<input type="text" name="phone" id="phone" value="{{ form.phone.value }}" class="text requiredField phone"/>
							</fieldset>

							<fieldset>
							<div style="padding: 0 20 0 0;">
								<label {% if form.message.errors %} style="color:red"{% endif%}>{% trans "Sõnumi tekst" %} <span class="required">*</span></label>
								      <br/>
								      </div>
								<textarea name="message" id="message" rows="20" cols="30" class="text requiredField">{{ form.message.value }}</textarea>
							</fieldset>
							<fieldset>
								<input name="Mysubmitted" id="Mysubmitted" value="Saada" class="button round deep-red" type="submit"/>
							</fieldset>
							</legend>
						</form>

					</div>
				<!-- COLUMNS CONTAINER ENDS-->

				<div class="one-half last">
<div style="margin-left: 15px">
<iframe width="100%" height="240" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=+&amp;q=J%C3%B5e+2a,+Kesklinn,+Tallinn,+Harjumaa,+Eesti&amp;ie=UTF8&amp;hq=&amp;hnear=J%C3%B5e,+Kesklinn,+Tallinn,+Harjumaa,+Estonia&amp;t=m&amp;vpsrc=0&amp;ll=59.439446,24.763699&amp;spn=0.020947,0.054932&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=+&amp;q=J%C3%B5e+2a,+Kesklinn,+Tallinn,+Harjumaa,+Eesti&amp;ie=UTF8&amp;hq=&amp;hnear=J%C3%B5e,+Kesklinn,+Tallinn,+Harjumaa,+Estonia&amp;t=m&amp;vpsrc=0&amp;ll=59.439446,24.763699&amp;spn=0.020947,0.054932&amp;z=14" style="color:#0000FF;text-align:left">{% trans "Suurenda" %}</a></small>
<br/>
<br/>
						<p><strong>{% trans "Kontaktid" %}</strong></p>
<p>Tallinn - Jõe tn.2b, 10151, tel.+ 372 6 144 400, faks + 372 6 144 570, info@chb.ee<br/>{% trans "Avatud" %} E-R 09.00 -17.00 </p>
<p>Pärnu - Papiniidu 5, 80042, tel. +372 44 99 205, faks + 372 6 144 570<br/>{% trans "Avatud" %} E-R 09.00 -17.00</p>
<p>Rapla - Tallinna mnt.22, 79512, tel. + 372 489 0460, faks +372 489 0461, rapla@chb.ee<br/>{% trans "Avatud" %} E-R 09.00 -17.00</p>
		
					</div>
</div>				<div class="one">
					<div class="one-fourth">
					<br/>
				</div>	
					
 {% endblock %}					
