{% load i18n %}
<ul class="simple-nav">
	<li><a href="{% url views.history %}" {% if current == 'history'%} class="current" {% endif %}>{% trans "Ajalugu" %}</a></li>
	<li><a href="{% url views.partners %}" {% if current == 'partners'%} class="current" {% endif %}>{% trans "Partnerid" %}</a></li>
	<li><a href="{% url views.team %}" {% if current == 'team'%} class="current" {% endif %}>{% trans "Inimesed" %}</a></li>
	<li><a href="/uudised" {% if current == 'news'%} class="current" {% endif %}>{% trans "Uudised" %}</a></li>
</ul>
