﻿{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
					<div class="one-fourth">
						{% include 'ettevottest_leftmenu.html' with current="history"%}
					</div>

					<div class="inner-content last">
						<p>{% trans "CHB (Consultant • Handler • Broker) on 2006. aastal loodud kindlustuskonsultatsiooni ettevõte, mille peamisteks tegevusvaldkondadeks on kindlustuslepingute vahendamine, kindlustusriskide hindamine ja nõustamine kahjujuhtumite korral. Tänaseks ühendab CHB teenus endas kahjukindlustuse kolme põhitegevust: kahjuennetust, kindlustust ja kahjude nõustamist." %}
						</p>
						<p>{% trans "2011. aasta on CHB-le olnud pöördeline. Ettevõttega liitusid mitu suure kogemusega kindlustusspetsialisti, kelle abiga muutub meie müügiorganisatsioon veel professionaalsemaks. Oleme otsustanud muuta ka CHB kaubamärki ning identiteeti. Endisest „kahjuennetuse büroost“ on saanud tänaseks selge sihi ja väärtushinnangutega müügiorganisatsioon. CHB strateegiline eesmärk on saavutada tugev positsioon just ärikliendi segmendis, olles lugupeetud partneriks paljudele suurettevõtetele nii Eestis kui ka Baltikumis." %}
						</p>
<p>{% trans "Oma meeskonna oleme moodustanud parimatest kindlustusspetsialistidest ning tänaseks töötab CHB-s kokku 21 inimest." %}
{% trans "Meie peakontor asub Tallinnas, Jõe tn 2b ning harukontorid Pärnus, Raplas ja Tartus." %}
						</p>
						<p>{% trans "CHB Kindlustusmaakler OÜ on Teenusmajanduse Koja liige (www.teenusmajandus.ee)." %}
						</p>
					</div>
					
{% endblock %}
