{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
					<div class="slideshow">
						<div id="slides">
							<div id="slider-big">
								<div class="slides_container big-slider">
									<div>
										<img src="{{ STATIC_URL }}images/slideshow/pilt1.jpg" alt=" " width="960" height="400" />
										<div class="caption1 caption">

											<h4>{% trans "Kahjuennetus ja riskihindamine" %}</h4>
											<p>
												{% trans "Riskianalüüsi koostamine, kahjuennetus ja kindlustusvajaduse väljaselgitamine" %}. {% trans "Riskispetsialist vaatab üle ettevõttega seotud erinevad riskiaspektid, käib objektidel ja kaardistab need." %}
											</p>
										
											<br/>
											<a href="{% url views.services %}" class="button small red-cherry">{% trans "Tutvu" %}</a>
										</div>
									</div>
									<div>
										<img src="{{ STATIC_URL }}images/slideshow/pilt2.jpg" alt=" " width="960" height="400" />
										<div class="caption2 caption">
											<h4>{% trans "Lepingute administreerimine" %}</h4>
											<p>
												{% trans "Kindlustusmaakler töötab spetsiaalses maakleri töökeskkonnas, mille eesmärk on võimalikult efektiivselt ja operatiivselt hallata klientide kindlustuslepinguid." %}
											</p>
											<br/>
											<a href="{% url views.services %}" class="button small red-cherry">{% trans "Tutvu" %}</a>
										</div>
									</div>

									<div class="slide">
										<img src="{{ STATIC_URL }}images/slideshow/pilt3.jpg" alt=" " width="960" height="400" />
										<div class="caption3 caption">
											<h4>{% trans "Kahjuabi ja kahjualane nõustamine" %}</h4>
											<p>
												{% trans "Kindlustusmaakler aitab klienti alates esmasest kahjunõustamisest õnnetuspaigas kuni keeruliste vaidlusteni välja kindlustusseltsidega. Kvalifitseeritud spetsialistid tagavad kvaliteetse kahjunõustamise" %}
											</p>
											<br/>
											<a href="{% url views.services %}" class="button small red-cherry">{% trans "Tutvu" %}</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					{% include 'chb.html' %}
					{% include 'lahendused.html' %}
				
					<br/>
					<a href="{% url views.solutions %}">{% trans "Vaata täielikku teenuste nimekirja" %}</a>
					
 {% endblock %}
