{% load i18n %}
				<div class="one">
					<div id="portfolio-slider">
					
						<div class="slice">
							<div class="one-fourth">
								<h5 class="colored">{% trans "Transport / Logistika" %}</h5>
								<p>
									<img src="{{ STATIC_URL }}images/portfolio/pilt4.jpg" alt=" " width="209" height="145" class="portfolio-img pretty-box"/>
								</p>
								<p>{% trans "Kaskokindlustus, liikluskindlustus, veosekindlustus, vedaja või ekspedeerija vastutuskindlustus. Autovedajad, ekspedeerimis ning erinevad logistika valdkonna ettevõtted saavad meilt täislahenduse." %}
								</p>
								
							</div>
							<div class="one-fourth">
								<h5 class="colored">{% trans "Ettevõtte vara" %}</h5>
								<p>
									<img src="{{ STATIC_URL }}images/portfolio/pilt5.jpg" alt=" " width="209" height="145" class="portfolio-img pretty-box"/>
								</p>								
								<p>
									{% trans "Varakindlustus, üldine vastutuskindlustus, äri katkemise kindlustus. Väga oluline on teada erinevate kindlustusseltside tingimusi ja neid oma kindlustusvajadusega kohandada, meie spetsialistid on Teile igati abiks." %}
								</p>
							</div>
							<div class="one-fourth">
								<h5 class="colored">{% trans "Vastutus" %}</h5>
								<p>
									<img src="{{ STATIC_URL }}images/portfolio/pilt6.jpg" alt=" " width="209" height="145" class="portfolio-img pretty-box"/>
								</p>								
								<p>
									{% trans "Tegevusest tulenev vastutuskindlustus, erialane vastutuskindlustus, toote vastutuskindlustus, juhtkonna vastutuskindlustus, tööandja vastutuskindlustus. Vastutuskindlustus on üks kiiremini arenevamaid kindlustusliike tänases Eestis." %}
								</p>
							</div>
							<div class="one-fourth last">
								<h5 class="colored">{% trans "Seadmed ja masinad" %}</h5>
								<p>
									<img src="{{ STATIC_URL }}images/portfolio/pilt7.jpg" alt=" " width="209" height="145" class="portfolio-img pretty-box"/>
								</p>								
								<p>
									 {% trans "Seadmerikke kindlustus, elektrooniliste seadmete kindlustus, liikurmasinate kindlustus. Lisaks tavapärasele varakindlustusele saab keerulisemaid riske kindlustada ka vastavate spetsiifilisemate kindlustustoodete alt. Näitkes omame kogemusi tuuleparkide kindlustamisel." %}   
								</p>
							</div>
						</div>

					</div>
					
				</div>
