{% extends "skeleton.html" %}
{% load i18n %} 
 
{% block content %} 
{% include 'chb.html' %}
<div class="one-fourth">
	{% include 'tingimused_leftmenu.html' with current="laws" %}
</div>
<div class="inner-content last">
	<p style="margin-bottom: 30px"><strong>{% trans "Kindlustusmaakleri klientide kaebuste läbivaatamise ja lahendamise kord" %}</strong></p>

    <p>
        {%  trans "CHB Kindlustusmaakler OÜ poolt sisse seatud korra eesmärgiks on selgelt, üheselt ja operatiivselt reguleerida klientide (kindlustusvõtjate) esitatavate kaebuste menetlemine ja lahendamine." %}
    </p>
    <p>
        {%  trans "Lisatud dokumendid:" %}
    </p>

    <p>
        <a target="undefined" href="{{ STATIC_URL}}docs/d1.doc">{% trans "Kindlustusmaakleri kaebuste labivaatamise ja lahendamise kord" %}</a>
    </p>

    <p>
        <a target="undefined" href="{{ STATIC_URL}}docs/d2.doc">{% trans "Kindlustusmaakleri kaebuse vorm" %}</a>
    </p>



</ul>
</p>
</div>
{% endblock %}
