{% extends "skeleton.html" %}
{% load i18n %} 
 
{% block content %} 
{% include 'chb.html' %}
<div class="one-fourth">
	{% include 'tingimused_leftmenu.html' with current="links"%}
</div>
<div class="inner-content last">
	<p style="margin-bottom: 30px"><strong>{% trans "Viited" %}</strong></p>

<p><a target="undefined" href="http://www.ekml.ee/">{% trans "Eesti Kindlustusmaaklerite Liit" %}</a></p>
<p>
<a target="undefined" href="http://www.fi.ee/?id=466&amp;PHPSESSID=d929b50b9761295726cecbdbd6c7498c">{% trans "Finantsinspektsioon" %}</a>
</p>
</div>
{% endblock %}	
