{% load i18n %}
				<div id="main_navigation" class="main-menu ">
					<ul>
						<li><a href="{% url views.home %}" title="Home">{% trans "Avaleht" %}</a></li>
						<li><a href="#">{% trans "Ettevõttest" %}</a>
						<ul>
							<li><a href="{% url views.history %}">{% trans "Ajalugu" %}</a></li>
							<li><a href="{% url views.partners %}">{% trans "Partnerid" %}</a></li>
							<li><a href="{% url views.team %}">{% trans "Inimesed" %}</a></li>
							<li><a href="/uudised">{% trans "Uudised" %}</a></li>
						</ul>
						</li>
						<li><a href="#">{% trans "Teenused" %}</a>
						<ul>
							<li><a href="{% url views.solutions %}">{% trans "Kindlustuslahendused" %}</a></li>
							<li><a href="{% url views.services %}">{% trans "Maaklerteenused" %}</a></li>
						</ul>
						</li>
						<li><a href="#">{% trans "Tingimused" %}</a>
						<ul>
							<li><a href="{% url views.clientinfo %}">{% trans "Maaklerilepingu üldtingimused" %}</a></li>
							<li><a href="{% url views.laws %}">{% trans "Kliendikaebuste esitamine" %}</a></li>
							<li><a href="{% url views.requirements %}">{% trans "Üldnõuded ja seadused" %}</a></li>
							<li><a href="{% url views.links %}">{% trans "Viited" %}</a></li>
						</ul>
						</li>
						<li><a href="{% url views.contact %}">{% trans "Kontakt" %}</a></li>
						<li>
							<img src="{{ STATIC_URL }}images/icons/telephone.png" width="40" height="40"/>
						</li>
						<li>
							<div class="call-contact">
							Tel: (+372) 6 144 400  <br/>  E-mail: info@chb.ee
							</div>
						</li>
					</ul>
			</div>
