{% extends "skeleton.html" %}
{% load tags i18n %}
 
{% block content %} 
{% include 'chb.html' %}

					<div class="one-fourth">
						{% include 'ettevottest_leftmenu.html' with current="news"%}
					</div> 
                                               
					<div class="inner-content last">                                                                  
      						{% all_entries %}				
					</div>
					
				</div>
{% endblock %}
