{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
					<div class="one-fourth">
						{% include 'ettevottest_leftmenu.html' with current="partners"%}
					</div>

					<div class="inner-content last">
						<table>
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_bta.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>BTA Kindlustuse Eesti AS</strong><br /> 
									Lõõtsa 2B9, 11415 Tallinn<br /> 
									<span>Tel. (+372) 6 868 068</span> 
									<span>Faks (+372) 6 868 061</span>
									<span>info@bta-kindlustus.ee</span>
								</td>
							</tr>
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_ergo.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>ERGO Insurance SE</strong><br/> 
									A.H. Tammsaare tee 47, Tallinn<br /> 
									<span>Tel. (+372) 6 106 500</span><span>Faks (+372) 6 106 501</span><span>info@ergo.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_gjensidige.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>AAS Gjensidige Baltic Eesti filiaal</strong><br/> 
									Sõpruse pst 145, 13417, Tallinn<br /> 
									<span>Tel. (+372) 6 755 380</span><span>Faks (+372) 6 755 385</span><span>info@gjensidige.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_if.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>If P&#038;C Insurance AS</strong><br/> 
									Pronksi 19, 10124, Tallinn<br /> 
									<span>Tel. (+372) 6 671 100</span><span>Faks (+372) 6 671 101</span><span>info@if.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_inges.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>Inges Kindlustus AS</strong><br/> 
									Raua 35, 10124 Tallinn<br /> 
									<span>Tel. (+372) 6 410 436</span><span>Faks (+372) 6 410 438</span><span>inges@inges.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_salva.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>Salva Kindlustuse AS</strong><br/> 
									Pärnu mnt 16, 10141 Tallinn<br /> 
									<span>Tel. (+372) 6 800 500</span><span>Faks (+372) 6 800 501</span><span>salva@salva.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_seesam.png" height="59" width="97" /></td>
								<td class="partner_description"><strong>Seesam Insurance AS</strong><br/> 
									Vambola 6, 10114 Tallinn<br /> 
									<span>Tel. (+372) 6 281 801</span><span>Faks (+372) 6 281 802</span><span>seesam@seesam.ee</span>
								</td>
							</tr>							
							<tr>
								<td><img src="{{ STATIC_URL}}images/partners/partner_pzu.png" height="59" width="59" /></td>
								<td class="partner_description"><strong>UAB DK PZU Lietuva Eesti filiaal (PZU Kindlustus)</strong><br/> 
									Parnu mnt 141, Tallinn 11314<br /> 
									<span>Tel. (+372) 6 277 011</span><span>Faks (+372) 6 277 017</span><span>info@pzu.ee</span>
								</td>
							</tr>							
						</table>
					</div>
					
{% endblock %}
