{% load i18n %}
<ul class="simple-nav">
  {% for entry in entries %}
  <li>
    <span style="margin-right: 15px;">{{ entry.creation_date|date:"DATE_FORMAT" }}</span>
    <a href="{% url news %}" title="{{ entry.title }}" rel="bookmark">{% autoescape off %}{{ entry.title }}{% endautoescape %}</a>
  </li>
  {% empty %}
  <li>
    {% trans "Ei ole ühtegi uudist." %}
  </li>
  {% endfor %}
</ul>
