{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
<div class="one-fourth">
	{% include 'tingimused_leftmenu.html' with current="requirements"%}
</div>
<div class="inner-content last">
	<p style="margin-bottom: 30px"><strong>{% trans "Üldnõued ja seadused" %}</strong></p>

<p>
<a target="undefined" href="https://www.riigiteataja.ee/ert/act.jsp?id=12866223">{% trans "Ehitisele ja selle osale esitatavad tuleohutusnõuded" %}</a>
</p>

<p><a target="undefined" href="https://www.riigiteataja.ee/akt/13277324?leiaKehtiv">{% trans "Kindlustustegevuse seadus" %}</a></p>
<p>
<a target="undefined" href="https://www.riigiteataja.ee/akt/13248826?leiaKehtiv">{% trans "Liikluskindlustuse seadus" %}</a>
</p>
<p>
<a target="undefined" href="https://www.riigiteataja.ee/akt/13277345?leiaKehtiv">{% trans "Võlaõigusseadus" %}</a>
</p>
<p>
<a target="undefined" href="https://www.riigiteataja.ee/akt/106122010012">{% trans "Tsiviilseadustiku üldosa seadus" %}</a>
</p>
<p>
<a target="undefined" href="https://www.riigiteataja.ee/akt/13264873?leiaKehtiv">{% trans "Rahapesu ja terrorismi rahastamise tõkestamise seadus" %}</a>
<p>
<a target="undefined" href="https://www.riigiteataja.ee/akt/130122011039">{% trans "Tuleohutuse seadus" %}</a></p>

</div>
{% endblock %}

