{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 

{% include 'chb.html' %}
<p><strong>{% trans "Kindlustusmaakleri teenuse eesmärk on tegutseda kindlustusvõtja huvides ning nõustada teda kindlustuslepingu sõlmimisega seotud toimingutes, aidates võrrelda kindlustusseltside pakkumusi, analüüsida kindlustustingimusi ning vormistada kindlustuslepinguid." %}</strong></p>					
				
				<div class="one">
					<div id="portfolio-slider">
					
						<div class="slice">
							<ul class="round-list" style="width:800px;">
								<li><h6 class="colored">{% trans "Riskianalüüsi koostamine, kahjuennetus ja kindlustusvajaduse väljaselgitamine" %}</h6>
								<p>
									{% trans "Riskispetsialist vaatab üle ettevõttega seotud erinevad riskiaspektid, käib objektidel ja kaardistab need." %} 
								</p>
								</li>
								<li><h6 class="colored">{% trans "Kindlustusportfelli audit" %}</h6>
								<p>
									{% trans "Vaatame üle olemasoleva kindlustusprogrammi ja võimalusel teeme ettepanekuid selle parandamiseks." %} 
								</p>
								</li>
								<li><h6 class="colored">{% trans "Kindlustusprogrammi koostamine" %}</h6>
								<p>
									{% trans "Koostöös kliendiga leiame parima viisi tema riskide kindlustamiseks." %}
								</p>
								</li>
								<li><h6 class="colored">{% trans "Kindlustushanke läbiviimine ja tingimuste võrdlus" %}</h6>
								<p>
									{% trans "Spetsialistid edastavad kindlustusprogrammi kindlustusandjatele, tagastatud pakkumised analüüsitakse ja koostatakse tingimuste võrdluse. Omame koostööd kõikide Eestis tegutsevate kindlustusseltsidega. Keerulisemate riskide puhul leiame lahendusi ka väljaspoolt kodumaist kindlustusturgu." %} 
								</p>
								</li>
								<li><h6 class="colored">{% trans "Lepingute administreerimine" %}</h6>
								<p>
									{% trans "Kindlustusmaakler töötab spetsiaalses maakleri töökeskkonnas, mille eesmärk on võimalikult efektiivselt ja operatiivselt hallata klientide kindlustuslepinguid. " %}
								</p>
								</li>
								<li><h6 class="colored">{% trans "Kahjuabi ja kahjualane nõustamine" %}</h6>
								<p>
									{% trans "Kindlustusmaakler aitab klienti alates esmasest kahjunõustamisest õnnetuspaigas kuni keeruliste vaidlusteni välja kindlustusseltsidega. Kvalifitseeritud spetsialistid tagavad kvaliteetse kahjunõustamise." %}
								</p>
								</li>
							</ul>
						
						</div>

					</div>
					
				</div>

					
 {% endblock %}
