{% load tags i18n %}
{% get_available_languages as LANGUAGES %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
<meta charset="utf-8"/>
<title>CHB</title>
<meta name="description" content="CHB"/>
<meta name="keywords" content=""/>

<link rel="shortcut icon" type="image/ico" href="{{ STATIC_URL }}images/icons/favicon.ico"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen"/>
<link rel="stylesheet" id="skins-switcher" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/nivo-slider.css" type="text/css" media="screen"/>
<!--CHOOSE WICH FONT YOU WANT TO USE AND DELETE THE REST FOR FASTER LOADING-->
<link href='http://fonts.googleapis.com/css?family=Coustard|Questrial|Gloria+Hallelujah|Rochester|Abel|Rationale|Bowlby+One+SC|Snippet|Leckerli+One|Redressed|Aubrey|Open+Sans+Condensed:300|Paytone+One|Brawler|Tienne|Hammersmith+One|Rokkitt|Varela|Kreon|Oswald|Sunshiney|PT+Sans+Narrow|Istok+Web|Amaranth|Josefin+Sans|Nova+Script|Muli|Nova+Mono|Pompiere|News+Cycle|Old+Standard+TT|Cedarville+Cursive|Dancing+Script|Droid+Sans|Architects+Daughter|Smythe|Caudex|IM+Fell+Double+Pica|Zeyada|Buda:300|IM+Fell+French+Canon+SC|Josefin+Slab|Syncopate|Jura|Arimo|Coming+Soon|Quattrocento|Gruppo|IM+Fell+English+SC|Nova+Slim|Cuprum|Rock+Salt|Droid+Serif|Geostar+Fill|Geostar|Alice|Andika|Comfortaa|Delius+Swash+Caps|Actor|Marvel|Tulpen+One|Smokum|Carme|Delius|Black+Ops+One|Federo|Gentium+Basic|Yellowtail|The+Girl+Next+Door|Rosario|Swanky+and+Moo+Moo|Annie+Use+Your+Telescope|Play|Kameron|Lobster+Two|Anton|Just+Me+Again+Down+Here|Bangers|Coda:800|Open+Sans|Bigshot+One|UnifrakturCook:700|Shanti|IM+Fell+French+Canon|IM+Fell+Double+Pica+SC|Love+Ya+Like+A+Sister|Expletus+Sans|Merriweather|Kranky|IM+Fell+DW+Pica+SC|Ovo|PT+Serif|Copse|VT323|Coda+Caption:800|Allerta+Stencil|Lato|Meddon|Stardos+Stencil|Nobile' rel='stylesheet' type='text/css'>
<!--GOOGLE FONTS-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tools/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backstretch/jquery.backstretch-1.2.min.js"></script>

</head>
<body>
<div id="wrapper">
	<div class="center">

		<!--
	<ul id="header-icons">
		<li class="icon-facebook" title="Facebook"><a href="#"></a></li>
		<li class="icon-twitter" title="Twitter"><a href="#"></a></li>
		<li class="icon-vimeo" title="Vimeo"><a href="#"></a></li>
		<li class="icon-skype" title="Skype"><a href="#"></a></li>
		<li class="icon-dribbble" title="Dribbble"><a href="#"></a></li>
		<li class="icon-rss" title="RSS"><a href="#"></a></li>
	</ul>-->
		<div id="container">
        <div id="language_bar">
            <form id="locale_switcher" name="locale_switcher" method="POST" action="{{site_url}}i18n/setlang/">
            {% csrf_token %}
            <input name='language' type=hidden value="{{ LANGUAGE_CODE }}" />
            <input name="next" type="hidden" value="" />
                    {% for LANG in LANGUAGES  %}
                    <a class="language_link {% if LANGUAGE_CODE == LANG.0 %}language_selected{% else %}language{% endif %}" src='{{ MEDIA_URL }}img/flags/{{ LANG.0 }}.png' title="{% trans LANG.1 %}" style='cursor:pointer' onclick="document.locale_switcher.language.value='{{ LANG.0 }}';document.locale_switcher.submit();">{% trans LANG.1 %}</a>
                    {% endfor %}
                <noscript>
                    <input type="submit" value="Set" />
                </noscript>
            </form>	
          </div>
			<div id="header">
				<a id="logo" title="Homepage" href="{% url views.home %}"></a>
					{% include 'menu.html' %}
			</div>

			<div id="content">
				<div class="one">
				  {% block content %}
					<h3>The content block need to be overrided!</h3>
				  {% endblock %}					
				</div>
				<div id="footer-wrapper">
					<div id="footer-container">
						<div id="footer">
							<div class="one">
								<div class="one-fourth">
									<strong>{% trans "Partnerid" %}</strong>
									<ul id="clients">
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/bta_logo.gif" width="50" height="50" alt=" "/></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/ergo_logo.png" width="50" height="50" alt=" " /></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/if_logo.gif" width="50" height="50" alt=" " /></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/inges_logo.gif" width="50" height="50" alt=" " /></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/gjensidige_logo.gif" width="50" height="50" alt=" " /></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/partner_pzu.png" width="50" height="50" alt=" " /></a></li>
										<li><a href="#"><img src="{{ STATIC_URL }}images/clients/salva_logo.gif" width="50" height="50" alt=" " /></a></li>
										<li class="last"><img src="{{ STATIC_URL }}images/clients/seesam_logo.png" width="50" height="50" alt=" "/></li>
									</ul>
								</div>
								<!-- COLUMN ENDS-->
	
							
								<!-- COLUMN ENDS-->
								<div class="one-fourth">
									<strong>{% trans "Kontakt" %}</strong>
									<p><span style="font-weight: bold; ">Tallinn, </span>
									Jõe tn.2b, 10151<br/>
									tel.(+372) 6 144 400<br/>
									faks (+372) 6 144 570<br/>
									info@chb.ee<br/>
									</p>
									<p><span style="font-weight: bold; ">Pärnu, </span>
									Papiniidu 5, 80010<br/>
									tel. (+372) 44 99 205<br/>
									faks (+372) 6 144 570<br/>
									</p>
									<p><span style="font-weight: bold; ">Rapla, </span>
									Tallinna mnt.22, 79512<br/>
									tel. (+372) 489 0460<br/>
									faks (+372) 489 0461<br/>
									rapla@chb.ee
									</p>
									
								</div>
								<div class="one-fourth">
									<strong>{% trans "Rekvisiidid" %}</strong>
									<div class="">
																<p><span style="font-weight:bold">CHB Kindlustusmaakler OÜ</span><br/>{% trans "Juriidiline aadress:" %} Jõe tn. 2b, Tallinn, 10151<br/>
																{% trans "Registrikood" %}: 11327553</p>
																<p>{% trans "Arvelduskonto" %}: <br/>
																10220064255014 SEB Pank<br/></p>
																221035928897 Swedbank
																<ul class="simple-nav"><li></li></ul>
																<p>{% trans "CHB Kindlustusmaakler OÜ liikmelisus " %}
																<br>
																<a target="undefined" href="http://www.ekml.ee/">{% trans "Eesti Kindlustusmaaklerite Liit MTÜ" %}</a> 
																<a target="undefined" href="http://www.teenusmajandus.ee">{% trans "MTÜ Teenusmajanduse Koda" %}</a>
																<img src="{{ STATIC_URL }}images/EKML.png" width="100px"/>
																<br>
																<br>
																<img src="{{ STATIC_URL }}images/tm.gif" width="120px" /></p>
									</div>
								</div>
								{% if not hide_news %}
								<div class="one-fourth">
									<strong>{% trans "Uudised" %}</strong>
									{% recent_entries %}	
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div id="copyright-wrapper">
					
					<div id="copyright">
						<a id="logo-copyright" title="Avaleht" href="#"></a>
						<div class="right">
							<span>© Copyright 2012. {% trans "All rights reserved." %}</span>
						</div>
					</div>					
				</div>
		</div>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="{{ STATIC_URL }}js/slides/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/slides/slides.min.jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/cycle-slider/cycle.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/tabify/jquery.tabify.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/prettyPhoto/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/twitter/jquery.tweet.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scrolltop/scrolltopcontrol.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/portfolio/filterable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr/modernizr-2.0.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/easing/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/kwicks/jquery.kwicks-1.5.1.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/swfobject/swfobject.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28044501-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>

