{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
<p style="margin-bottom: 15px;"><strong>{% trans "CHB kindlustusspetsailistid selgitavad välja kliendi kindlustushuvi ning pakuvad välja optimaalse kindlustuslahenduse. Meie klientideks on nii era- kui ärikliendid, nii kohalikud kui ka rahvusvahelised." %}

</strong></p>
		{% include 'lahendused.html' %}		
				<div class="one">
					<p><strong>{% trans "CHB Kindlustusmaakler OÜ kindlustuslahenduste täielik nimekiri:" %}</strong>
					</p>
					<div class="one-third">
						<ul class="round-list">
					<li>{% trans "ettevõtte varakindlustus" %}</li>
<li>{% trans "äritegevuse katkemise kindlustus" %}</li>
<li>{% trans "sõidukikindlustus (kasko)" %}</li> 
<li>{% trans "liikluskindlustus" %}</li>
<li>{% trans "ehituse koguriskikindlustus (CAR)" %}</li>
 <li>{% trans "masinate ja seadmete kindlustus (CPM)" %}</li>
<li>{% trans "elektrooniliste seadmete kindlustus (EEI)" %}</li>
<li>{% trans "tegevusest (sh. erialane) tulenev vastutuskindlustus (ehitajad, projekteerijad, arhitektid, IT, arstid, audiitorid, advokaadid jne.)" %}</li>
</ul>
</div>
					<div class="one-third">
						<ul class="round-list">
<li>{% trans "tsiviilvastutus kindlustus" %}</li> 
<li>{% trans "vedajavastutus (CMR/TIR) kindlustus" %}</li>
<li>{% trans "ekspedeerija vastutuskindlustus" %}</li>
<li>{% trans "veosekindlustus" %}</li>
<li>{% trans "väikelaeva kindlustus" %}</li>
<li>{% trans "krediidikindlustus" %}</li>
<li>{% trans "garantiikindlustus" %}</li>
</ul>
</div>
					<div class="one-third">
						<ul class="round-list">
<li>{% trans "karilooma/lemmiklooma kindlustus" %}</li>
<li>{% trans "metsa kindlustus" %}</li>
<li>{% trans "tööandja vastutuskindlustus" %}</li>
<li>{% trans "õnnetusjuhtumi kindlustus" %}</li>
<li>{% trans "juhtkonna vastutuskindlustus (D&O)" %}</li>
<li>{% trans "reisikindlustus (juhtumid töölähetusel, puhkereisil)" %}</li>
<li>{% trans "kodukindlustus (kinnis- ja vallasvara)" %}</li></ul>
				</div>

					
 {% endblock %}
