{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
					<div class="one-fourth">
						{% include 'ettevottest_leftmenu.html' with current="team" %}
					</div>

					<div class="one-fourth">
					<div class="inner-content last">
						<table id="inimesed">
							<tr><td>
                                                </td></tr><tr><td>
                                                        <div class="out-team-header">{% trans "Juhatus" %}</div>
                                                </td></tr><tr><td>
				
						<div class="one-fourth">
							<h5>Andry Saarm</h5>
							<ul class="team-social-icons">
								<li>{% trans "tegevjuht" %}, {% trans "juhatuse esimees" %}</li>
								<li>tel. (+372) 6 144 560</li>
								<li>mob. (+372) 52 93 169</li>
								<li>e-mail: andry@chb.ee</li>
							</ul>
						</div>
						
						<div class="one-fourth">
							<h5>Ivo Teedla</h5>
							<ul class="team-social-icons">
								<li>{% trans "arendusjuht" %}, {% trans "juhatuse liige" %}</li>
								<li>tel. (+372) 6 140 097</li>
								<li>mob. (+372) 51 33 435</li>
								<li>e-mail: ivo@chb.ee</li>
							</ul>
						</div>
						<div class="one-fourth last">
							<h5>Priit Helm</h5>
							<ul class="team-social-icons">
								<li>{% trans "müügijuht" %}, {% trans "juhatuse liige" %}</li>
								<li>tel. (+372) 6 140 096</li>
								<li>mob. (+372) 50 91 392</li>
								<li>e-mail: priit@chb.ee</li>
							</ul>
						</div>









						</td></tr><tr><td>
							<div class="out-team-header">{% trans "Põhja-Eesti piirkond" %}</div>
							<div class="out-team-city">{% trans "Tallinn" %}</div>
						</td></tr><tr><td>
						<div class="one-fourth">
							<h5>Oleg Proskin</h5>
							<ul class="team-social-icons">
								<li>{% trans "piirkondlik müügijuht" %}</li>
								<li>tel. (+372) 6 140 094</li>
								<li>mob. (+372) 51 75 973</li>
								<li>e-mail: oleg@chb.ee</li>
							</ul>
						</div>

						<div class="one-fourth">
							<h5>Heiki Nurmeots</h5>
							<ul class="team-social-icons">
								<li>{% trans "partner, korporatiiv-lahendused" %}</li>
								<li>tel. (+372) 6 140 024</li>
								<li>mob. (+372) 502 15 65</li>
								<li>e-mail: heiki@chb.ee</li>
							</ul>
						</div>
						
						<div class="one-fourth last">
							<h5>Kristo Kaugija</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 6 140 092</li>
								<li>mob. (+372) 51 30 400</li>
								<li>e-mail: kristo@chb.ee</li>
							</ul>
						</div>

						</td></tr><tr><td>

						<div class="one-fourth">
							<h5>Meelis Valk</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 6 140 093</li>
								<li>mob. (+372) 51 07 597</li>
								<li>e-mail: meelis@chb.ee</li>
							</ul>
						</div>

						<div class="one-fourth last">
							<h5>Siret Eelmäe</h5>
							<ul class="team-social-icons">
								<li>{% trans "assistent" %}</li>
								<li>tel. (+372) 6 144 560</li>
								<li>mob. (+372) 51 53 856</li>
								<li>e-mail: siret.eelmae@chb.ee</li>
							</ul>
						</div>

						</td></tr><tr><td>

						<div class="one-fourth">
							<h5>Marianna Karm</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler-assistent" %}</li>
								<li>tel. (+372) 6 144 560</li>
								<li>mob. (+372) 58 43 8366</li>
								<li>e-mail: marianna@chb.ee</li>
							</ul>
						</div>

						<div class="one-fourth">
							<h5>Maris Madisson</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 6 144 560</li>
								<li>mob. (+372) 52 66 418</li>
								<li>e-mail: maris@chb.ee</li>
							</ul>
						</div>

						</td></tr><tr><td>
							<div class="out-team-city">{% trans "Rapla" %}</div>
						</td></tr><tr><td>

						<div class="one-fourth">
							<h5>Piret Saard</h5>
							<ul class="team-social-icons">
								<li>{% trans "büroojuht, kindlustusmaakler" %}</li>
								<li>tel. (+372) 48 90 464</li>
								<li>mob. (+372) 51 09 661</li>
								<li>e-mail: piret@chb.ee</li>
							</ul>
						</div>

							<div class="one-fourth">
							<h5>Terje Marrandi</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 48 90 463</li>
								<li>mob. (+372) 50 91 823</li>
								<li>e-mail: terje@chb.ee</li>
							</ul>
						</div>

						
						</td></tr><tr><td>

						<!-- COLUMN ENDS-->
						<div class="one-fourth">
							<h5>Jaanika Trahov</h5>
							<ul class="team-social-icons">
								<li>{% trans "assistent" %}</li>
								<li>tel. (+372) 48 90 460</li>
								<li>mob. (+372) 56 239 790</li>
								<li>e-mail: jaanika@chb.ee</li>
							</ul>
						</div>

						</td></tr><tr><td>
							<div class="out-team-header">{% trans "Lõuna- Eesti piirkond" %}</div>
							<div class="out-team-city">{% trans "Pärnu" %}</div>
						</td></tr><tr><td>
							
						<div class="one-fourth">
							<h5>Evelin Pärna</h5>
							<ul class="team-social-icons">
								<li>{% trans "piirkondlik müügijuht" %}</li>
								<li>tel. (+372) 44 99 206</li>
								<li>mob. (+372) 50 44 955</li>
								<li>e-mail: evelin@chb.ee</li>
							</ul>
						</div>
						<div class="one-fourth">
							<h5>Egon Põder</h5>
							<ul class="team-social-icons">
								<li>{% trans "kahjuabi spetsialist / kindlustusmaakler" %}</li>
								<li>tel. (+372) 44 99 206</li>
								<li>mob. (+372) 51 12 349</li>
								<li>e-mail: egon@chb.ee</li>
							</ul>							
						</div>
						
						<div class="one-fourth last">
							<h5>Annika Pärn</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 44 99 204</li>
								<li>mob. (+372) 56 489 083</li>
								<li>e-mail: annika@chb.ee</li>
							</ul>
						</div>

						</td></tr><tr><td>

						<div class="one-fourth">
							<h5>Heli Viitas</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 44 99 204</li>
								<li>mob. (+372) 51 08 897</li>
								<li>e-mail: heli@chb.ee</li>
							</ul>
						</div>
						<div class="one-fourth">
							<h5>Toomas Leibur</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>tel. (+372) 44 99 206</li>
								<li>mob. (+372) 51 14 705</li>
								<li>e-mail: toomas@chb.ee</li>
							</ul>
						</div>
						<div class="one-fourth last">
							<h5>Laivi Pärna</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler-assistent" %}</li>
								<li>tel. (+372) 44 99 205</li>
								<li>mob. (+372) 56 890 790</li>
								<li>e-mail: laivi@chb.ee</li>
							</ul>
						</div>
						</td></tr><tr><td>
							<div class="out-team-city">{% trans "Tartu" %}</div>
						</td></tr><tr><td>
						
						<div class="one-fourth">
							<h5>Tiiu Orgmets</h5>
							<ul class="team-social-icons">
								<li>{% trans "kindlustusmaakler" %}</li>
								<li>mob. (+372) 50 91 679</li>
								<li>e-mail: tiiu@chb.ee</li>
							</ul>							
						</div>

						</td></tr><tr><td>
							<div class="out-team-header">{% trans "Raamatupidamine" %}</div>
						</td></tr><tr><td>
						
						<div class="one-fourth">
							<h5>Geli Nõlvand</h5>
							<ul class="team-social-icons">
								<li>{% trans "raamatupidaja" %}</li>
								<li>tel. (+372) 6 144 560 </li>
								<li>mob. (+372) 53 422 452</li>
								<li>e-mail: geli@chb.ee</li>
							</ul>							
						</div>						
						</td></tr></table>
					</div>
				</div>
					
{% endblock %}
