{% extends "skeleton.html" %}
{% load i18n %}
 
{% block content %} 
{% include 'chb.html' %}
<br/>
<div class="one">
<div class="simple-success">
<strong>{% trans "Aitäh. Teie sõnum on edastatud." %}</strong>
</div>
</div>
{% endblock %}	
