{% load i18n %}
<ul class="simple-nav">
	<li><a href="{% url views.clientinfo %}" {% if current == 'clientinfo'%} class="current" {% endif %}>{% trans "Maaklerilepingu üldtingimused" %}</a></li>
	<li><a href="{% url views.laws %}" {% if current == 'laws'%} class="current" {% endif %}>{% trans "Kliendikaebuste esitamine" %}</a></li>
	<li><a href="{% url views.requirements %}" {% if current == 'requirements'%} class="current" {% endif %}>{% trans "Üldnõuded ja seadused" %}</a></li>
	<li><a href="{% url views.links %}" {% if current == 'links'%} class="current" {% endif %}>{% trans "Viited" %}</a></li>
</ul>
